*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
     background-image: url(bg1.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;

}

.store{

    margin-left: 1350px;
    margin-top: 30px;
}

.butt{

    font-size: 20px;
    background: rgb(164, 1, 164);
    border-radius: 10px;
    border: 0;
    padding: 10px;
    box-shadow: 0 0 10px rgb(234, 64, 93),
    0 0 20px rgb(234, 64, 93);
}

button:hover{

    box-shadow: 0 0 10px rgb(234, 64, 93),
    0 0 25px rgb(234, 64, 93),0 0 50px rgb(234, 64, 93),
    0 0 100px rgb(234, 64, 93);
    
    }

img{

    width: 50px;
    height: 40px;
}

.logo{

    padding: 30px;
}

.ps5 img{
    width: 1000px;
    height: 500px;
}

.ps5{
    padding-left: 600px;
    padding-bottom: 500px;
    position: fixed;
}

.logo2 img {

    width: 300px;
    height: 50px;
    position: fixed;

}

.logo2{
 margin-left: 200px;
 margin-top: 20px;
}

.header{

    color: aliceblue;
}

.header h1{
margin-top: 100px;
margin-left: 210px;
font-size: 50px;
font-family: Games;
}

.header h1 span{
    color: rgb(81, 0, 143);
}




    

